* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background: rgb(12, 202, 193);
    
}
h1{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 20px;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.photo{
    position: relative;
    max-width: 600px;
    margin: 0 auto 40px;
}

.photo img{
    border-radius: 25px;
}

.text h2{
    font-size: 25px;
    text-align: center;
}

.text{
    position: absolute;
    top: 50%;
    overflow: hidden;
    height: 200px;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    border-radius: 25px;
    padding: 20px;
    margin: -100px 0 0;
    
}
.photo:hover .text{
    display: block;
}
.navigation{
    width: 300px;
    position: relative;

}
#sitenav{
    width: 300px;
    position: fixed;
    left: 0;
    top: 40%;
    border: 5px solid green;
    background: greenyellow;
    
}
#sitenav h2{
    font-size: 24px;
    text-align: center;
    margin: 20px;
}
#sitenav li{
    font-size: 20px;
    padding: 5px 0;
    border: 5px solid rgb(5, 170, 54);
}
